#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Self.Tube
StartupWMClass=com.wreckingbang.selftube
Comment=A TubeArchivist Client.
Exec=Self.Tube
Icon=com.wreckingbang.selftube
Terminal=false
Type=Application
Categories=Entertainment;
